xml_xsd/ejemplo real/clinical_study.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://upm.es/xmlns/clinical_study"
  xmlns:tns="http://upm.es/xmlns/clinical_study"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
  <xs:simpleType name="actual_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Actual" />
      <xs:enumeration value="Anticipated" />
      <xs:enumeration value="Estimate" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="yes_no_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>
  
<!-- === Date ======================================================== -->

  <!--  Dates may now include a day                  -->
  <!--      Month Day, Year    Or    Month Year      -->
  <!--  Necessary to accurately calculate deadlines  -->
  
  <xs:simpleType name="variable_date_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(Unknown|((January|February|March|April|May|June|July|August|September|October|November|December) (([12]?[0-9]|30|31)\, )?[12][0-9]{3}))" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="variable_date_struct">
    <xs:simpleContent>
      <xs:extension base="tns:variable_date_type">
        <xs:attribute name="type" type="tns:actual_enum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
   
<!-- === Required Header ============================================= -->

  <xs:complexType name="required_header_struct">
    <xs:sequence>
      <xs:element name="download_date" type="xs:string"/>
      <xs:element name="link_text" type="xs:string"/>
      <xs:element name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Id Info ===================================================== -->

  <xs:complexType name="id_info_struct">
    <xs:sequence>
      <xs:element name="org_study_id" type="xs:string" minOccurs="0"/>
      <xs:element name="secondary_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="nct_id" type="xs:string"/>
      <xs:element name="nct_alias" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Sponsor ===================================================== -->

  <xs:simpleType name="agency_class_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NIH" />
      <xs:enumeration value="U.S. Fed" />
      <xs:enumeration value="Industry" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="sponsor_struct">
    <xs:sequence>
      <xs:element name="agency" type="xs:string"/>
      <xs:element name="agency_class" type="tns:agency_class_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Sponsors ==================================================== -->

  <xs:complexType name="sponsors_struct">
    <xs:sequence>
      <xs:element name="lead_sponsor" type="tns:sponsor_struct"/>
      <xs:element name="collaborator" type="tns:sponsor_struct" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Oversight =================================================== -->

  <xs:complexType name="oversight_info_struct">
    <xs:sequence>
      <xs:element name="has_dmc" type="tns:yes_no_enum" minOccurs="0"/> <!-- data monitoring committee -->
      <xs:element name="is_fda_regulated_drug" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="is_fda_regulated_device" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="is_unapproved_device" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="is_ppsd" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="is_us_export" type="tns:yes_no_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Expanded Access ============================================= -->

  <xs:complexType name="expanded_access_info_struct">
    <xs:sequence>
      <xs:element name="expanded_access_type_individual" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="expanded_access_type_intermediate" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="expanded_access_type_treatment" type="tns:yes_no_enum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Study Design ================================================ -->

  <xs:complexType name="study_design_info_struct">
    <xs:sequence>
      <xs:element name="allocation" type="xs:string" minOccurs="0"/>
      <xs:element name="intervention_model" type="xs:string" minOccurs="0"/>
      <xs:element name="intervention_model_description" type="xs:string" minOccurs="0"/>
      <xs:element name="primary_purpose" type="xs:string" minOccurs="0"/>
      <xs:element name="observational_model" type="xs:string" minOccurs="0"/>
      <xs:element name="time_perspective" type="xs:string" minOccurs="0"/>
      <xs:element name="masking" type="xs:string" minOccurs="0"/>
      <xs:element name="masking_description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Protocol Outcome ============================================ -->

  <xs:complexType name="protocol_outcome_struct">
    <xs:sequence>
      <xs:element name="measure" type="xs:string"/>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Enrollment ================================================== -->

  <xs:complexType name="enrollment_struct">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="type" type="tns:actual_enum" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Arm Group =================================================== -->

  <xs:complexType name="arm_group_struct">
    <xs:sequence>
      <xs:element name="arm_group_label" type="xs:string"/>
      <xs:element name="arm_group_type" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Intervention ================================================ -->

  <xs:simpleType name="intervention_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Behavioral" />
      <xs:enumeration value="Biological" />
      <xs:enumeration value="Combination Product" />
      <xs:enumeration value="Device" />
      <xs:enumeration value="Diagnostic Test" />
      <xs:enumeration value="Dietary Supplement" />
      <xs:enumeration value="Drug" />
      <xs:enumeration value="Genetic" />
      <xs:enumeration value="Procedure" />      
      <xs:enumeration value="Radiation" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="intervention_struct">
    <xs:sequence>
      <xs:element name="intervention_type" type="tns:intervention_type_enum"/>
      <xs:element name="intervention_name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="arm_group_label" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="other_name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/> <!-- synonyms for intervention_name -->
    </xs:sequence>
  </xs:complexType>

<!-- === Textblock =================================================== -->

  <xs:complexType name="textblock_struct">
    <xs:sequence>
      <xs:element name="textblock" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Eligibility ================================================= -->

  <xs:simpleType name="sampling_method_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Probability Sample" />
      <xs:enumeration value="Non-Probability Sample" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="gender_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="age_pattern">
    <xs:restriction base="xs:string">
      <xs:pattern value="N/A|([1-9][0-9]* (Year|Years|Month|Months|Week|Weeks|Day|Days|Hour|Hours|Minute|Minutes))"></xs:pattern>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="eligibility_struct">
    <xs:sequence>
      <xs:element name="study_pop" type="tns:textblock_struct" minOccurs="0"/>
      <xs:element name="sampling_method" type="tns:sampling_method_enum" minOccurs="0"/>
      <xs:element name="criteria" type="tns:textblock_struct" minOccurs="0"/>
      <xs:element name="gender" type="tns:gender_enum"/>
      <xs:element name="gender_based" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="gender_description" type="xs:string" minOccurs="0"/>
      <xs:element name="minimum_age" type="tns:age_pattern"/>
      <xs:element name="maximum_age" type="tns:age_pattern"/>
      <xs:element name="healthy_volunteers" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Contact ===================================================== -->

  <xs:complexType name="contact_struct">
    <xs:sequence>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string" minOccurs="0"/>
      <xs:element name="degrees" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="phone_ext" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Investigator ================================================ -->

  <xs:simpleType name="role_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Principal Investigator" />
      <xs:enumeration value="Sub-Investigator" />
      <xs:enumeration value="Study Chair" />
      <xs:enumeration value="Study Director" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="investigator_struct">
    <xs:sequence>
      <xs:element name="first_name" type="xs:string" minOccurs="0"/>
      <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="degrees" type="xs:string" minOccurs="0"/>
      <xs:element name="role" type="tns:role_enum" minOccurs="0"/>
      <xs:element name="affiliation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Address ===================================================== -->

  <xs:complexType name="address_struct">
    <xs:sequence>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"  minOccurs="0"/>
      <xs:element name="zip" type="xs:string"  minOccurs="0"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Facility ==================================================== -->

  <xs:complexType name="facility_struct">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="tns:address_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Status ====================================================== -->

  <xs:simpleType name="recruitment_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active, not recruiting" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Enrolling by invitation" />
      <xs:enumeration value="Not yet recruiting" />
      <xs:enumeration value="Recruiting" />
      <xs:enumeration value="Suspended" />
      <xs:enumeration value="Terminated" />
      <xs:enumeration value="Withdrawn" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="expanded_access_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="No longer available" />
      <xs:enumeration value="Temporarily not available" />
      <xs:enumeration value="Approved for marketing" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="redacted_record_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Withheld"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
   
  <xs:simpleType name="unknown_status_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown status"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!--
    Valid values for overall status depend on the value of the study type:
     - For studies that have not been updated in 2 years, the value unknown_status_enum
     - For Interventional or Observational studies, values from recruitment_status_enum
     - For Expanded Access studies, values from expanded_access_status_enum
     - Otherwise, values from redacted_record_status_enum
     
    This enum is also the valid values for location status, but the rules for which
      locations are included or witheld in the public xml are subject to change.  
      You may not see all possible values.
   -->
  <xs:simpleType name="status_enum">
    <xs:union memberTypes="tns:recruitment_status_enum 
      tns:expanded_access_status_enum 
      tns:redacted_record_status_enum 
      tns:unknown_status_enum">
    </xs:union>
  </xs:simpleType>

<!-- === Location ==================================================== -->

  <xs:complexType name="location_struct">
    <xs:sequence>
      <xs:element name="facility" type="tns:facility_struct" minOccurs="0"/>
      <xs:element name="status" type="tns:status_enum" minOccurs="0"/>
      <xs:element name="contact" type="tns:contact_struct" minOccurs="0"/>
      <xs:element name="contact_backup" type="tns:contact_struct" minOccurs="0"/>
      <xs:element name="investigator" type="tns:investigator_struct" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Location Countries ========================================== -->

  <xs:complexType name="countries_struct">
    <xs:sequence>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Links ======================================================= -->

  <xs:complexType name="link_struct">
    <xs:sequence>
      <xs:element name="url" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === References ================================================== -->

  <xs:complexType name="reference_struct">
    <xs:sequence>
      <xs:element name="citation" type="xs:string" minOccurs="0"/>
      <xs:element name="PMID" type="xs:positiveInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Responsible Party =========================================== -->

  <xs:simpleType name="responsible_party_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sponsor" />
      <xs:enumeration value="Principal Investigator" />
      <xs:enumeration value="Sponsor-Investigator" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="responsible_party_struct">
    <xs:choice>
      <xs:sequence> <!-- old style -->
        <xs:element name="name_title" type="xs:string" minOccurs="0"/>
        <xs:element name="organization" type="xs:string" minOccurs="0"/>
      </xs:sequence>
      <xs:sequence> <!-- new style, used in newer records -->
        <xs:element name="responsible_party_type" type="tns:responsible_party_type_enum"/>
        <xs:element name="investigator_affiliation" type="xs:string" minOccurs="0"/>
        <xs:element name="investigator_full_name" type="xs:string" minOccurs="0"/>
        <xs:element name="investigator_title" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>

<!-- === Browse ====================================================== -->

  <xs:complexType name="browse_struct">
    <xs:sequence>
      <xs:element name="mesh_term" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Patient Data ================================================ -->

  <xs:complexType name="patient_data_struct">
    <xs:sequence>
      <xs:element name="sharing_ipd" type="xs:string"/>
      <xs:element name="ipd_description" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_info_type" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ipd_time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_access_criteria" type="xs:string" minOccurs="0"/>
      <xs:element name="ipd_url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Study Docs ================================================== -->

  <xs:complexType name="study_doc_struct">
    <xs:sequence>
      <xs:element name="doc_id" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_type" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_url" type="xs:string" minOccurs="0"/>
      <xs:element name="doc_comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="study_docs_struct">
    <xs:sequence>
      <xs:element name="study_doc" type="tns:study_doc_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Provided Document Section Struct ============================ -->

  <xs:complexType name="provided_document_struct">
    <xs:sequence>
      <xs:element name="document_type" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_protocol" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_icf" type="xs:string" minOccurs="0"/>
      <xs:element name="document_has_sap" type="xs:string" minOccurs="0"/>
      <xs:element name="document_date" type="xs:string" minOccurs="0"/>
      <xs:element name="document_url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provided_document_section_struct">
    <xs:sequence>
      <xs:element name="provided_document" type="tns:provided_document_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Pending Results ============================================= -->

  <xs:complexType name="pending_results_struct">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="submitted" type="tns:variable_date_struct" minOccurs="0"/>
      <xs:element name="returned" type="tns:variable_date_struct" minOccurs="0"/>
      <xs:element name="submission_canceled" type="tns:variable_date_struct" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>

<!-- === Group ======================================================= -->

  <xs:complexType name="group_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="group_id" type="xs:string" use="required"/>
  </xs:complexType>

<!-- === Participants ================================================ -->

  <xs:complexType name="participants_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="count" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Milestone =================================================== -->

  <xs:complexType name="milestone_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="participants_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="participants" type="tns:participants_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Period ====================================================== -->

  <xs:complexType name="period_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="milestone_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="milestone" type="tns:milestone_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="drop_withdraw_reason_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="drop_withdraw_reason" type="tns:milestone_struct" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Participant Flow ============================================ -->

  <xs:complexType name="participant_flow_struct">
    <xs:sequence>
      <xs:element name="recruitment_details" type="xs:string" minOccurs="0"/>
      <xs:element name="pre_assignment_details" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="tns:group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="period_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="period" type="tns:period_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure Count =============================================== -->

  <xs:complexType name="measure_count_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Measure Analyzed ============================================ -->

  <xs:complexType name="measure_analyzed_struct">
    <xs:sequence>
      <xs:element name="units" type="xs:string"/>
      <xs:element name="scope" type="xs:string"/>
      <xs:element name="count_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="count" type="tns:measure_count_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measurement ================================================= -->

  <xs:complexType name="measurement_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="spread" type="xs:string"/>
        <xs:attribute name="lower_limit" type="xs:string"/>
        <xs:attribute name="upper_limit" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Measure Category ============================================ -->

  <xs:complexType name="measure_category_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="measurement_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="measurement" type="tns:measurement_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure Class =============================================== -->

  <xs:complexType name="measure_class_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="tns:measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="category_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="tns:measure_category_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Measure ===================================================== -->
  
  <xs:simpleType name="measure_param_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Geometric Mean" />
      <xs:enumeration value="Geometric Least Squares Mean" />
      <xs:enumeration value="Least Squares Mean" />
      <xs:enumeration value="Log Mean" />
      <xs:enumeration value="Mean" />
      <xs:enumeration value="Median" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="Count of Participants" />
      <xs:enumeration value="Count of Units" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="measure_dispersion_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="80% Confidence Interval" />
      <xs:enumeration value="90% Confidence Interval" />
      <xs:enumeration value="95% Confidence Interval" />
      <xs:enumeration value="97.5% Confidence Interval" />
      <xs:enumeration value="99% Confidence Interval" />
      <xs:enumeration value="Full Range" />
      <xs:enumeration value="Geometric Coefficient of Variation" />
      <xs:enumeration value="Inter-Quartile Range" />
      <xs:enumeration value="Standard Deviation" />
      <xs:enumeration value="Standard Error" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="measure_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="units" type="xs:string" minOccurs="0"/>
      <xs:element name="param" type="tns:measure_param_enum" minOccurs="0"/>
      <xs:element name="dispersion" type="xs:string" minOccurs="0"/>
      <xs:element name="units_analyzed" type="xs:string" minOccurs="0"/>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="tns:measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="class_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="class" type="tns:measure_class_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Baseline ==================================================== -->

  <xs:complexType name="baseline_struct">
    <xs:sequence>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="tns:group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="analyzed_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analyzed" type="tns:measure_analyzed_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="measure_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="measure" type="tns:measure_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Analysis ==================================================== -->

  <xs:simpleType name="non_inferiority_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Superiority" />
      <xs:enumeration value="Non-Inferiority" />
      <xs:enumeration value="Equivalence" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Non-Inferiority or Equivalence" />
      <xs:enumeration value="Superiority or Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="n_sides_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1-Sided" />
      <xs:enumeration value="2-Sided" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="analysis_dispersion_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard Deviation" />
      <xs:enumeration value="Standard Error of the Mean" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="analysis_struct">
    <xs:sequence>
      <xs:element name="group_id_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group_id" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="groups_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="non_inferiority_type" type="tns:non_inferiority_type_enum" minOccurs="0"/>
      <xs:element name="non_inferiority_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="p_value" type="xs:string" minOccurs="0"/>
      <xs:element name="p_value_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="method" type="xs:string" minOccurs="0"/>
      <xs:element name="method_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="param_type" type="xs:string" minOccurs="0"/>
      <xs:element name="param_value" type="xs:string" minOccurs="0"/>
      <xs:element name="dispersion_type" type="tns:analysis_dispersion_enum" minOccurs="0"/>
      <xs:element name="dispersion_value" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_percent" type="xs:float" minOccurs="0"/>
      <xs:element name="ci_n_sides" type="tns:n_sides_enum" minOccurs="0"/>
      <xs:element name="ci_lower_limit" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_upper_limit" type="xs:string" minOccurs="0"/>
      <xs:element name="ci_upper_limit_na_comment" type="xs:string" minOccurs="0"/>
      <xs:element name="estimate_desc" type="xs:string" minOccurs="0"/>
      <xs:element name="other_analysis_desc" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Results Outcome ============================================= -->

  <xs:simpleType name="outcome_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Primary" />
      <xs:enumeration value="Secondary" />
      <xs:enumeration value="Other Pre-specified" />
      <xs:enumeration value="Post-Hoc" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="posting_date_type">
    <xs:restriction base="xs:string">
      <xs:pattern value="(((0[1-9])|(10|11|12))/)?[1-3][0-9]{3}"></xs:pattern> <!-- month/year or just year -->
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="results_outcome_struct">
    <xs:sequence>
      <xs:element name="type" type="tns:outcome_type_enum"/>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="safety_issue" type="tns:yes_no_enum" minOccurs="0"/>
      <xs:element name="posting_date" type="tns:posting_date_type" minOccurs="0"/>
      <xs:element name="population" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="tns:group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="measure" type="tns:measure_struct" minOccurs="0"/>
      <xs:element name="analysis_list" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="analysis" type="tns:analysis_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Vocab Term =================================================== -->

  <xs:complexType name="vocab_term_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="vocab" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Event Counts ================================================= -->

  <xs:complexType name="event_counts_struct">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="group_id" type="xs:string"/>
        <xs:attribute name="subjects_affected" type="xs:integer"/>
        <xs:attribute name="subjects_at_risk" type="xs:integer"/>
        <xs:attribute name="events" type="xs:integer"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

<!-- === Event ======================================================= -->
  
  <xs:simpleType name="event_assessment_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Non-systematic Assessment" />
      <xs:enumeration value="Systematic Assessment" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="event_struct">
    <xs:sequence>
      <xs:element name="sub_title" type="tns:vocab_term_struct" minOccurs="0"/>
      <xs:element name="assessment" type="tns:event_assessment_enum" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="counts" type="tns:event_counts_struct" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Event Category ============================================== -->

  <xs:complexType name="event_category_struct">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="event_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="event" type="tns:event_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Events ====================================================== -->

  <xs:complexType name="events_struct">
    <xs:sequence>
      <xs:element name="frequency_threshold" type="xs:string" minOccurs="0"/>
      <xs:element name="default_vocab" type="xs:string" minOccurs="0"/>
      <xs:element name="default_assessment" type="tns:event_assessment_enum" minOccurs="0"/>
      <xs:element name="category_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="tns:event_category_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

<!-- === Reported Events ============================================= -->

  <xs:complexType name="reported_events_struct">
    <xs:sequence>
      <xs:element name="time_frame" type="xs:string" minOccurs="0"/>
      <xs:element name="desc" type="xs:string" minOccurs="0"/>
      <xs:element name="group_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="group" type="tns:group_struct" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serious_events" type="tns:events_struct" minOccurs="0"/>
      <xs:element name="other_events" type="tns:events_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Certain Agreements ========================================== -->

  <xs:simpleType name="pi_employee_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All Principal Investigators ARE employed by the organization sponsoring the study." />
      <xs:enumeration value="Principal Investigators are NOT employed by the organization sponsoring the study." />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="certain_agreements_struct">
    <xs:sequence>
      <xs:element name="pi_employee" type="tns:pi_employee_enum" minOccurs="0"/>
      <xs:element name="restrictive_agreement" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Point Of Contact ============================================ -->

  <xs:complexType name="point_of_contact_struct">
    <xs:sequence>
      <xs:element name="name_or_title" type="xs:string"/>
      <xs:element name="organization" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Clinical Results ============================================ -->

  <xs:complexType name="clinical_results_struct">
    <xs:sequence>
      <xs:element name="participant_flow" type="tns:participant_flow_struct">
        <xs:key name="participant_flow_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="participant_flow_group_ref" refer="tns:participant_flow_group_key">
          <xs:selector xpath="period_list/period/milestone_list/milestone/participants_list/participants" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="baseline" type="tns:baseline_struct">
        <xs:key name="baseline_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="baseline_group_ref" refer="tns:baseline_group_key">
          <xs:selector xpath="measure_list/measure/category_list/category/measurement_list/measurement" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="outcome_list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="outcome" type="tns:results_outcome_struct" maxOccurs="unbounded">
              <xs:key name="outcome_group_key">
                <xs:selector xpath="group_list/group" />
                <xs:field xpath="@group_id" />
              </xs:key>
              <xs:keyref name="outcome_group_ref" refer="tns:outcome_group_key">
                <xs:selector xpath="measure_list/measure/category_list/category/measurement_list/measurement" />
                <xs:field xpath="@group_id" />
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reported_events" type="tns:reported_events_struct" minOccurs="0">
        <xs:key name="events_group_key">
          <xs:selector xpath="group_list/group" />
          <xs:field xpath="@group_id" />
        </xs:key>
        <xs:keyref name="serious_events_group_ref" refer="tns:events_group_key">
          <xs:selector xpath="serious_events/category_list/category/event_list/event/counts" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
        <xs:keyref name="other_events_group_ref" refer="tns:events_group_key">
          <xs:selector xpath="other_events/category_list/category/event_list/event/counts" />
          <xs:field xpath="@group_id" />
        </xs:keyref>
      </xs:element>
      <xs:element name="certain_agreements" type="tns:certain_agreements_struct" minOccurs="0"/>
      <xs:element name="limitations_and_caveats" type="xs:string" minOccurs="0"/>
      <xs:element name="point_of_contact" type="tns:point_of_contact_struct" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

<!-- === Clinical Study ============================================== -->
  
  <xs:simpleType name="study_type_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Expanded Access" />
      <xs:enumeration value="Interventional" />
      <xs:enumeration value="N/A" /> <!-- Redacted records only -->
      <xs:enumeration value="Observational" />
      <xs:enumeration value="Observational [Patient Registry]" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="phase_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N/A" />
      <xs:enumeration value="Early Phase 1" />
      <xs:enumeration value="Phase 1" />
      <xs:enumeration value="Phase 1/Phase 2" />
      <xs:enumeration value="Phase 2" />
      <xs:enumeration value="Phase 2/Phase 3" />
      <xs:enumeration value="Phase 3" />
      <xs:enumeration value="Phase 4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="biospec_retention_enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None Retained" />
      <xs:enumeration value="Samples With DNA" />
      <xs:enumeration value="Samples Without DNA" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="clinical_study">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="required_header" type="tns:required_header_struct"/>
        <xs:element name="id_info" type="tns:id_info_struct"/>
        <xs:element name="brief_title" type="xs:string"/>
        <xs:element name="acronym" type="xs:string" minOccurs="0"/>
        <xs:element name="official_title" type="xs:string" minOccurs="0"/>
        <xs:element name="sponsors" type="tns:sponsors_struct"/>
        <xs:element name="source" type="xs:string"/>
        <xs:element name="oversight_info" type="tns:oversight_info_struct" minOccurs="0"/>
        <xs:element name="brief_summary" type="tns:textblock_struct" minOccurs="0"/>
        <xs:element name="detailed_description" type="tns:textblock_struct" minOccurs="0"/>
        <xs:element name="overall_status" type="tns:status_enum"/>
        <xs:element name="last_known_status" type="tns:status_enum" minOccurs="0"/>
        <xs:element name="why_stopped" type="xs:string" minOccurs="0"/>
        <xs:element name="start_date" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="completion_date" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="primary_completion_date" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="phase" type="tns:phase_enum" minOccurs="0"/>
        <xs:element name="study_type" type="tns:study_type_enum"/>
        <xs:element name="has_expanded_access" type="tns:yes_no_enum" minOccurs="0"/>
        <xs:element name="expanded_access_info" type="tns:expanded_access_info_struct" minOccurs="0"/>
        <xs:element name="study_design_info" type="tns:study_design_info_struct" minOccurs="0"/>
        <xs:element name="target_duration" type="xs:string" minOccurs="0"/>
        <xs:element name="primary_outcome" type="tns:protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="secondary_outcome" type="tns:protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="other_outcome" type="tns:protocol_outcome_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="number_of_arms" type="xs:integer" minOccurs="0"/>
        <xs:element name="number_of_groups" type="xs:integer" minOccurs="0"/>
        <xs:element name="enrollment" type="tns:enrollment_struct" minOccurs="0"/>
        <xs:element name="condition" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="arm_group" type="tns:arm_group_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="intervention" type="tns:intervention_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="biospec_retention" type="tns:biospec_retention_enum" minOccurs="0"/>
        <xs:element name="biospec_descr" type="tns:textblock_struct" minOccurs="0"/>
        <xs:element name="eligibility" type="tns:eligibility_struct" minOccurs="0"/>
        <xs:element name="overall_official" type="tns:investigator_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="overall_contact" type="tns:contact_struct" minOccurs="0"/>
        <xs:element name="overall_contact_backup" type="tns:contact_struct" minOccurs="0"/>
        <xs:element name="location" type="tns:location_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="location_countries" type="tns:countries_struct" minOccurs="0"/>
        <xs:element name="removed_countries" type="tns:countries_struct" minOccurs="0"/>
        <xs:element name="link" type="tns:link_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="reference" type="tns:reference_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="results_reference" type="tns:reference_struct" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="verification_date" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_submitted" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_submitted_qc" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="study_first_posted" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="results_first_submitted" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="results_first_submitted_qc" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="results_first_posted" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="disposition_first_submitted" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="disposition_first_submitted_qc" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="disposition_first_posted" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="last_update_submitted" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="last_update_submitted_qc" type="tns:variable_date_type" minOccurs="0"/>
        <xs:element name="last_update_posted" type="tns:variable_date_struct" minOccurs="0"/>
        <xs:element name="responsible_party" type="tns:responsible_party_struct" minOccurs="0"/>
        <xs:element name="keyword" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="condition_browse" type="tns:browse_struct" minOccurs="0"/>
        <xs:element name="intervention_browse" type="tns:browse_struct" minOccurs="0"/>
        <xs:element name="patient_data" type="tns:patient_data_struct" minOccurs="0"/>
        <xs:element name="study_docs" type="tns:study_docs_struct" minOccurs="0"/>
        <xs:element name="provided_document_section" type="tns:provided_document_section_struct" minOccurs="0"/>
        <xs:element name="pending_results" type="tns:pending_results_struct" minOccurs="0"/>
        <xs:element name="clinical_results" type="tns:clinical_results_struct" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="rank" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
