xml_xsd/ejemplo_catalogo/catalogo_simple.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://upm.es/xmlns/catalogo"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="catalogo">
    <xs:complexType>
        <xs:sequence>
          <xs:element name="fecha" type="xs:date"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>        
    </xs:complexType>
  </xs:element>
</xs:schema>